*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 576px) {
  .container {
    width: auto;
  }
}

button,
button:focus {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.btn-buy {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0.3em 1.3em;
  border: 2px solid #fff;
}
.btn-buy:hover {
  background-color: #fff;
  color: #000;
}

.product {
  display: flex;
  flex-direction: column;
}
.product__info {
  display: flex;
  flex-direction: column;
}
.sections .section {
  height: 50%;
  position: relative;
  text-align: center;
}
.sections .section::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.sections .section::before {
  content: "";
  width: 100%;
  height: 60%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: none;
}
.sections .section:hover::before {
  display: block;
}
.sections .section img {
  position: relative;
  width: 100%;
  z-index: 1;
}
.sections .section__text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  height: 55%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sections .section__heading {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}