.carousel-indicators {
  z-index: 3;
  cursor: pointer;
}
.carousel-indicators li {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border: none;
  background-color: #35352f;
}
.carousel-indicators .active {
  width: 8px;
  height: 8px;
}

.carousel-control-next, .carousel-control-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  z-index: 3;
}
.carousel-control-next .lnr, .carousel-control-prev .lnr {
  font-size: 48px;
}

.carousel-caption {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  z-index: 10;
  color: white;
}
.carousel-caption .btn-buy {
  font-size: 2rem;
}
.carousel-item {
  transition-duration: 0.2s;
}
.carousel-item img {
  height: 100%;
  z-index: 1;
}
.carousel .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 576px) {
  .container {
    width: auto;
  }
}

button,
button:focus {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.heading__tertiary {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3.5rem;
}

.products .row {
  row-gap: 2.5rem;
}

.btn-buy {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0.3em 1.3em;
  border: 2px solid #fff;
}
.btn-buy:hover {
  background-color: #fff;
  color: #000;
}

.product {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product__img {
  position: relative;
  width: 33rem;
  height: 33rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 1400px) {
  .product__img {
    width: 23rem;
  }
}
@media (max-width: 1200px) {
  .product__img {
    width: 19rem;
    height: 28rem;
    margin-bottom: 0;
  }
}
.product__img .badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #f4002b;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.7rem;
}
.product__info {
  display: flex;
  flex-direction: column;
}
.product__info--name {
  font-size: 1.6rem;
  font-weight: 400;
}
.product__info--rate {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.product__info--rate i {
  color: #bfbfbf;
  font-size: 1.2rem;
}
.product__info--rate .fill {
  color: #ffb400;
}
.product__info--price {
  font-size: 1.8rem;
}
.product__info--price-new {
  font-weight: 700;
}
.product__info--price-old {
  margin-right: 4px;
  font-weight: 400;
  color: #808080;
}

.header__heading--sub {
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.header__heading--main {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 3.5rem;
}

.navbar {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav__main {
  width: 100%;
  display: flex;
}
.nav__mini {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sections .section {
  height: 50%;
  position: relative;
  text-align: center;
}
.sections .section::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.sections .section::before {
  content: "";
  width: 100%;
  height: 60%;
  background-image: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  transition: all 0.3s;
}
.sections .section:hover::before {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent);
}
.sections .section img {
  position: relative;
  width: 100%;
  z-index: 1;
}
.sections .section__text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  height: 55%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sections .section__heading {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.products {
  padding: 10rem 0;
}

.offers {
  position: relative;
}
.offers__img {
  position: relative;
}
.offers__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
}
.offers__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.offers__heading--main {
  font-weight: 400;
  font-size: 3.4rem;
  margin-bottom: 1.5rem;
}
.offers__heading--sub {
  font-weight: 700;
  font-size: 3.8rem;
  margin-bottom: 3.3rem;
}

.features {
  padding: 6rem 0;
  background-color: #f5f5f5;
}
.features .row {
  row-gap: 1.5rem;
}

.feature {
  display: flex;
  text-align: start;
  align-items: center;
}
@media (max-width: 991px) {
  .feature {
    flex-direction: column;
    text-align: center;
  }
}
.feature__icon {
  border-radius: 50%;
  background-color: #fff;
  min-width: 8.6rem;
  min-height: 8.5rem;
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}
@media (max-width: 991px) {
  .feature__icon {
    margin-bottom: 1.5rem;
  }
}
.feature__icon .lnr {
  font-size: 3.6rem;
  font-weight: 400;
}
.footer {
  padding: 10rem 0 4.5rem 0;
  text-align: start;
}
.footer__links--heading {
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.footer__menu--link {
  color: #4c4c4c;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.footer__menu--link:hover {
  color: #2c2c2c;
  padding-right: 5px;
}
.footer__search {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #e6e6e6;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.footer__search:hover {
  border-color: #000;
}
.footer__search input {
  outline: none;
  border: none;
  width: 90%;
}
.footer__search input::-moz-placeholder {
  font-size: 1.5rem;
  color: #b0b0b0;
}
.footer__search input:-ms-input-placeholder {
  font-size: 1.5rem;
  color: #b0b0b0;
}
.footer__search input::placeholder {
  font-size: 1.5rem;
  color: #b0b0b0;
}
.footer__contact p {
  margin-bottom: 1.5rem;
}
.footer__social {
  display: flex;
  justify-content: center;
}
.footer__social--link {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  transition: all 0.3s;
}
.footer__social--link:hover {
  box-shadow: 0px 1rem 1rem 0px rgba(0, 0, 0, 0.4);
  transform: translateY(-4px);
}
.footer__social--link.twitter {
  background-color: #2ac5f4;
}
.footer__social--link.facebook {
  background-color: #3a5a97;
}
.footer__social--link.snapchat {
  background-color: #f7cb00;
}
.footer__social--link.instagram {
  background-image: linear-gradient(to left bottom, #8c39b8, #dc515c, #f38c4f);
}
.footer__social--link i {
  color: #fff;
  font-size: 1.8rem;
}
.footer__copyright {
  font-size: 1.5rem;
  margin-top: 5rem;
}
.footer__brands {
  text-align: center;
  margin-top: 3rem;
}
.footer__brands img + img {
  margin-right: 2.5rem;
}