*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
  font-size: 1.6rem;
}

button,
button:focus {
  border: none;
  outline: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}
ul {
  list-style: none;
}
h1,
h2,
h3 {
  margin-top: 0;
}
