//// HEADER ////
///

.header {
  &__heading {
    &--sub {
      font-size: 4.8rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    &--main {
      font-size: 6rem;
      font-weight: 800;
      margin-bottom: 3.5rem;
    }
  }
}

.navbar {
  color: $color-miniNav;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav {
  &__main {
    width: 100%;
    display: flex;
  }
  &__mini {
    width: 100%;
    border-bottom: 1px solid $color-nav-border;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--options {
      display: flex;
      align-items: center;

      .dropdown {
        margin-left: 3rem;

        & > button {
          color: $color-miniNav;
          font-size: 1.4rem;
        }
      }

      &-needhelp {
        font-size: 1.4rem;
        color: $color-miniNav;
        padding-right: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-right: 1px solid $color-nav-border;
      }
    }
    &--links {
      span {
        font-size: 1.4rem;
      }
    }
    &--link {
      margin-right: 2rem;
      font-size: 1.5rem;
      transition: all 0.3s;
      &:hover {
        color: $color-white;
      }
    }
  }
}

//// SECTIONS ////

.sections {
  // height: 100vh;
  .section {
    height: 50%;
    position: relative;
    text-align: center;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $color-overlay-dark;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &::before {
      content: '';
      width: 100%;
      height: 60%;
      background-image: none;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      transition: all 0.3s;
    }
    &:hover {
      &::before {
        background-image: linear-gradient(
          to top,
          $color-overlay-light,
          transparent
        );
      }
    }

    img {
      position: relative;
      width: 100%;
      z-index: 1;
    }

    &__text {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      color: $color-white;
      height: 55%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &__heading {
      font-size: 3.6rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }
}

//// MOST VIEWED ////

.products {
  padding: 10rem 0;
}

.offers {
  position: relative;
  &__img {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: $gradient-offers;
    }
    img {
    }
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
  }
  &__heading {
    &--main {
      font-weight: 400;
      font-size: 3.4rem;
      margin-bottom: 1.5rem;
    }
    &--sub {
      font-weight: 700;
      font-size: 3.8rem;
      margin-bottom: 3.3rem;
    }
  }
}

.features {
  padding: 6rem 0;
  background-color: $color-features-bg;
  .row {
    row-gap: 1.5rem;
  }
}
.feature {
  display: flex;
  text-align: start;
  align-items: center;
  @media (max-width: 991px) {
    flex-direction: column;
    text-align: center;
  }
  &__icon {
    border-radius: 50%;
    background-color: $color-white;
    min-width: 8.6rem;
    min-height: 8.5rem;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;

    @media (max-width: 991px) {
      margin-bottom: 1.5rem;
    }

    .lnr {
      font-size: 3.6rem;
      font-weight: 400;
    }
  }
  &__text {
  }
}

.footer {
  padding: 10rem 0 4.5rem 0;
  text-align: start;

  &__links {
    &--heading {
      font-weight: 700;
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
  }
  &__menu {
    &--link {
      color: $color-footer-links;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      transition: all 0.3s;
      &:hover {
        color: $color-footer-links-hover;
        padding-right: 5px;
      }
    }
  }
  &__search {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #e6e6e6;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow;
    transition: all 0.5s;
    &:hover {
      border-color: $color-black;
    }
    input {
      outline: none;
      border: none;
      width: 90%;
      &::placeholder {
        font-size: 1.5rem;
        color: $color-placeholder;
      }
    }
  }
  &__contact {
    p {
      margin-bottom: 1.5rem;
    }
  }
  &__social {
    display: flex;
    justify-content: center;

    &--link {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      transition: all 0.3s;
      &:hover {
        box-shadow: $shadow-darker;
        transform: translateY(-4px);
      }
      &.twitter {
        background-color: #2ac5f4;
      }
      &.facebook {
        background-color: #3a5a97;
      }
      &.snapchat {
        background-color: #f7cb00;
      }
      &.instagram {
        background-image: linear-gradient(
          to left bottom,
          #8c39b8,
          #dc515c,
          #f38c4f
        );
      }
      i {
        color: $color-white;
        font-size: 1.8rem;
      }
    }
  }
  &__copyright {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
  &__brands {
    text-align: center;
    margin-top: 3rem;
    img + img {
      margin-right: 2.5rem;
    }
  }
}
