//// HEADER ////
///

.header {
  &__heading {
    &--sub {
      font-size: 4.8rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    &--main {
      font-size: 6rem;
      font-weight: 800;
      margin-bottom: 3.5rem;
    }
  }
}

// CAROUSEL //

.carousel {
  &-indicators {
    z-index: 3;
    cursor: pointer;
    li {
      border-radius: 0;
      width: 8px;
      height: 8px;
      border: none;
      background-color: #35352f;
    }
    .active {
      width: 8px;
      height: 8px;
    }
  }
  &-control {
    &-next,
    &-prev {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7%;
      z-index: 3;

      .lnr {
        font-size: 48px;
      }
    }
  }
  &-caption {
    // height: min-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // position: absolute;
    // width: 50rem;
    top: 0;
    // left: 50%;
    z-index: 10;
    color: white;

    .btn-buy {
      font-size: 2rem;
    }
  }
  &-item {
    transition-duration: 0.2s;

    img {
      height: 100%;
      z-index: 1;
    }
  }

  .overlay {
    background: $color-overlay-dark;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.navbar {
  color: $color-miniNav;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav {
  // main
  &__main {
    width: 100%;
    color: $color-white;

    &-content {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      align-items: center;
      justify-content: space-between;
    }
    .logo {
    }

    &--menu {
      display: flex;
      li + li {
        margin-right: 2.5rem;
      }
    }
    &--item {
    }
    &--link {
      font-size: 1.7rem;
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
    &--icons {
      display: flex;
      li + li {
        margin-right: 3.5rem;
      }
      .lnr {
        font-size: 2.2rem;
        font-weight: 400;
      }
    }
    // MEGA MENU //

    .mega-hover {
      i {
        font-size: 10px;
      }
    }
    .mega-hover:hover .mega {
      opacity: 1;
      visibility: visible;
    }

    .mega {
      opacity: 0;
      visibility: hidden;

      transition: all 0.4s;
      width: 100vw;
      position: absolute;
      top: 13rem;
      left: 0;
      z-index: 9;

      &::before {
        content: '';
        position: absolute;
        top: -0.7rem;
        left: 58%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 0.8rem solid $color-white;
      }

      &__container {
        background-color: $color-white;
        padding: 3rem;
        width: 100%;
      }
      &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: start;
      }
      &__img {
        max-width: 40rem;
        img {
          width: 100%;
        }
      }
      &__list {
        &--heading {
          font-size: 1.8rem;
          color: $color-black;
          margin-top: 1rem;
          font-weight: 700;
        }
        &--items {
          height: 27rem;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          flex-wrap: wrap;
          padding: 1rem 0;

          li {
            margin: 0 0 1rem 9rem;
            color: $color-footer-links;
            transition: padding-right 0.3s, margin-left 0.3s;
            &:hover {
              padding-right: 1rem;
              margin-left: 8rem;
              color: $color-black;
            }
          }
        }
      }

      &__brands {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 3rem;
      }
      &__brand {
        border: 1px solid $color-brand-border;
        width: 12.1rem;
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        a img {
          width: 100%;
        }
      }
    }
  }

  // mini navbar
  &__mini {
    width: 100%;
    border-bottom: 1px solid $color-nav-border;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--options {
      display: flex;
      align-items: center;

      .dropdown {
        margin-left: 3rem;

        & > button {
          color: $color-miniNav;
          font-size: 1.4rem;
        }
        &-item {
          font-size: 1.4rem;
          color: $color-black;
        }
      }

      &-needhelp {
        font-size: 1.4rem;
        color: $color-miniNav;
        padding-right: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-right: 1px solid $color-nav-border;
      }
    }
    &--links {
      span {
        font-size: 1.4rem;
      }
    }
    &--link {
      margin-right: 2rem;
      font-size: 1.5rem;
      transition: all 0.3s;
      &:hover {
        color: $color-white;
      }
    }
    .lang-btn {
      display: inline-block;
      margin-left: 3rem;
      transition: all 0.3s;
      &:hover {
        color: $color-white;
      }
    }
  }
}

//// SECTIONS ////

.sections {
  // height: 100vh;
  .section {
    height: 50%;
    position: relative;
    text-align: center;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $color-overlay-dark;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &::before {
      content: '';
      width: 100%;
      height: 60%;
      background-image: none;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      transition: all 0.3s;
    }
    &:hover {
      &::before {
        background-image: linear-gradient(
          to top,
          $color-overlay-light,
          transparent
        );
      }
    }

    img {
      position: relative;
      width: 100%;
      z-index: 1;
    }

    &__text {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      color: $color-white;
      height: 55%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &__heading {
      font-size: 3.6rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }
}

//// MOST VIEWED ////

.products {
  padding: 10rem 0;
  position: relative;
}

.offers {
  position: relative;
  &__img {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: $gradient-offers;
    }
    img {
    }
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
  }
  &__heading {
    &--main {
      font-weight: 400;
      font-size: 3.4rem;
      margin-bottom: 1.5rem;
    }
    &--sub {
      font-weight: 700;
      font-size: 3.8rem;
      margin-bottom: 3.3rem;
    }
  }
}

.features {
  padding: 6rem 0;
  background-color: $color-features-bg;
  .row {
    row-gap: 1.5rem;
  }
}
.feature {
  display: flex;
  text-align: start;
  align-items: center;
  @media (max-width: 991px) {
    flex-direction: column;
    text-align: center;
  }
  &__icon {
    border-radius: 50%;
    background-color: $color-white;
    min-width: 8.6rem;
    min-height: 8.5rem;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;

    @media (max-width: 991px) {
      margin-bottom: 1.5rem;
    }

    .lnr {
      font-size: 3.6rem;
      font-weight: 400;
    }
  }
  &__text {
  }
}

.footer {
  padding: 10rem 0 4.5rem 0;
  text-align: start;

  .row {
    row-gap: 2rem;
  }
  &__links {
    &--heading {
      font-weight: 700;
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
  }
  &__menu {
    &--link {
      color: $color-footer-links;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      transition: all 0.3s;
      &:hover {
        color: $color-footer-links-hover;
        padding-right: 5px;
      }
    }
  }
  &__search {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #e6e6e6;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow;
    transition: all 0.5s;
    &:hover {
      border-color: $color-black;
    }
    input {
      outline: none;
      border: none;
      width: 90%;
      &::placeholder {
        font-size: 1.5rem;
        color: $color-placeholder;
      }
    }
  }
  &__contact {
    p {
      margin-bottom: 1.5rem;
    }
  }
  &__social {
    display: flex;
    justify-content: center;

    &--link {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      transition: all 0.3s;
      &:hover {
        transform: translateY(-4px);
      }
      &.twitter {
        background-color: #2ac5f4;
      }
      &.facebook {
        background-color: #3a5a97;
      }
      &.snapchat {
        background-color: #f7cb00;
      }
      &.instagram {
        background-image: linear-gradient(
          to left bottom,
          #8c39b8,
          #dc515c,
          #f38c4f
        );
      }
      i {
        color: $color-white;
        font-size: 1.8rem;
      }
    }
  }
  &__copyright {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
  &__brands {
    text-align: center;
    margin-top: 3rem;
    img + img {
      margin-right: 2.5rem;
    }
  }
}
